<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.OsOrderProductMapper">
  <resultMap id="BaseResultMap" type="com.shop.po.OsOrderProduct">
    <id column="order_product_id" jdbcType="BIGINT" property="orderProductId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="product_number" jdbcType="BIGINT" property="productNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic_img" jdbcType="VARCHAR" property="picImg" />
    <result column="product_spec_number" jdbcType="BIGINT" property="productSpecNumber" />
    <result column="product_spec_name" jdbcType="VARCHAR" property="productSpecName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="buy_number" jdbcType="INTEGER" property="buyNumber" />
    <result column="product_score" jdbcType="INTEGER" property="productScore" />
    <result column="product_amount" jdbcType="DECIMAL" property="productAmount" />
    <result column="comment_status" jdbcType="TINYINT" property="commentStatus" />
    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
  </resultMap>
</mapper>